<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><i class="fas fa-home" style="font: normal normal normal 14px/1 FontAwesome;"></i>Home</a></li>
      <li class=""><a href="/about-us">About Us</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Facilities<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/viewdoctorlist">Our Doctor</a></li>
          <li><a href="/newappointment">Book Appointment</a></li>
          <li><a href="/ambulance">Ambulance</a></li>
          <li><a href="/available_bed">Available Bed</a></li>
          <li><a href="/emergency">Emergency</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign In<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/signin">User</a></li>
          <li><a href="/doctor/signin">Doctor</a></li>
          <li><a href="/staff/signin">Staff</a></li>
          <li><a href="/admin/signin">Admin</a></li>

        </ul>
      </li>
      <li><a href="/health-tips">Health Tips</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Visitors<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/welcome-notes">Welcome Notes</a></li>
          <li><a href="/visiting-hours">Visiting Hours</a></li>
          <li><a href="/parking">Parking</a></li>
          <li><a href="/cafeteria">Cafeteria</a></li>
          <li><a href="/location">Location</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Diagnostic<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!--dont change href-->
          <li><a href="/diagnostic">Diagnostic Center</a></li>
          <li><a href="/secondlink">Test List</a></li>

        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Medicine<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pharmacy">Pharmacy details</a></li>
          <li><a href="/medicine-list">Medicine List</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="/contact-us">Contact Us</a>
      </li>
    </ul>
    <form style="margin-top:10px" class="form-inline" action="/viewdoctorlist">
      <input name="k" class="form-control mr-sm-2" type="text" placeholder="Search doctor">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>