<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body style='background-color:#eeee'>
    
        {{>doctorNav}}
        <div>
            <center>
                <h3 class="text text-info">
                    Welcome Doctor
                </h3>
            </center>
        </div>
    </div>
</body>

</html>