<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {}

    @keyframes moveLeft {
        0% {
            opacity: 0;
            transform: translateX(300px)
        }

        25% {
            opacity: 1
        }

        50% {}

        75% {}

        100% {}
    }

    .ctitle {
        animation: moveLeft 2s ease-out;
    }

    .cover {
        height: 90vh;
        position: relative;
        background-repeat: none;
        background-size: 100%;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
    }

    #title {
        color: rgba(41, 43, 36, 0.562);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        left: 40%;
        top: 50%;
        position: absolute;
    }
</style>

<body>

    {{>publicnav}}

    <div class="col-md-10 col-md-offset-1">
        <center>
            <h3><b>Health Tips</b></h3>
        </center>

        <br>
        <h5></h5>
        We’re thrilled to share our Weekly Wellness tips in our CMS online health tips. That will focused on the mind,
        the body and healthy eating.
        <ul class="">
            <br>
            <li class="">

                Wrap yourself in warm clothes, gloves and mufflers to protect yourself from diseases that the
                Winter season brings itself.
            </li>
            <br>
            <li class="">
                Foods like cereal and porridge not only help to reduce weight but also keep the heart healthy.
            </li>
            <br>
            <li class="">
                During Winter it’s important to walk in regular intervals to generate body warmth.
            </li>
            <br>
            <li class="">
                Laughter is the best medicine. Laugh to live hale and hearty all your life.
            </li>
            <br>
            <li class="">
                Cut down on alcohol to reduce the risk of heart related ailments.
            </li>
            <br>
            <li class="">
                Keep a tab on blood sugar and cholesterol levels.
            </li>
            <br>
            <li class="">
                Sleep for at least 6-8 hours daily.
            </li>

        </ul>
    </div>
    </div>

</body>

</html>