<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body style='background-color:#eeee'>
    
        {{>staffnav}}
        </div>
             <center>
            <div class="col-sm-4">
        <div>
            <center>
                <h3 class="text text-info">
                    Change Password
                </h3>
            </center>
            <span class="text text-info">
                {{err}}
            </span>
            <form action="/staff/changepassword" method="post">
                <label for="">
                    Old Password
                </label>
                <input id="op" onkeyup="pressed()" required="" type="password" name="op" value="" placeholder="Enter Old Password"
                    class="form-control">
                <span id="oe" style="display:block"></span>
                <label for="">
                    New Password
                </label>
                <input required="" type="password" name="newpass" value="" placeholder="Enter New Password" class="form-control">
                <input id="sb" type="submit" value="change password" class="btn btn-info">
            </form>
            </div>
        </div>
    </div>
</body>
<script>
    oldpass = "{{ pass }}"
    document.querySelector("#sb").disabled = true;
    pressed = () => {
        if (oldpass == document.querySelector("#op").value) {

            document.querySelector("#sb").disabled = false;
            document.querySelector("#oe").setAttribute("class", "text text-success")
            document.querySelector("#oe").innerHTML = "Correct old password";
        }
        else {
            document.querySelector("#sb").disabled = true;
            document.querySelector("#oe").setAttribute("class", "text text-danger")
            document.querySelector("#oe").innerHTML = "Wrong old password";

        }
    }
</script>

</html>