<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body style='background-color:#eeee'>

    {{>staffnav}}
    <div>
        <center>
            <h3 class="text text-info">
                <p>
                    <center>
                        Welcome staff to the CMS. Thank you for choosing the hospital closest to where you live and
                        work as the provider for your health care. We are committed to providing the highest quality
                        patient care in a friendly, compassionate setting.
            </h3>
        </center>
    </div>

</body>

</html>